@import "../../../../assets/scss/variables.module.scss";

.wrapper {
  display: flex;
  gap: 18px;
}

@media (max-width: 1440px) {
  .wrapper {
    margin-left: 50px;
  }
}

@media (max-width: 834px) {
  .wrapper {
    margin-left: 0;
  }
}
