@import "../../assets/scss/variables.module.scss";
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  padding: 0 80px;
  margin-top: 24px;
}

.logo {
  max-width: 88px;
  max-height: 46px;
}

.text {
  padding: 0 41px 0 45px;
  font-size: 16px;
}

@media (max-width: 834px) {
  .header {
    padding: 0 15px;
    gap: 50px;
  }

  .text {
    padding: 0;
  }
}
